@charset "utf-8";
/* CSS Document*/
body {
background: url(RHK1.jpg);
background-size: 90% 100%;
background-position:center;
background-repeat:no-repeat;
}
#BigTitle {
text-align:center;
font-size:50px;
font-weight:bold;
font-family:'Sans-serif', Arial;
color:#000000
}
#FirstText {
text-align:center;
font-size:30px;
font-weight:bold;
font-family:'Sans-serif'. Arial;
color:#000000;
}
#BekhalLink {
font-size:32px;
font-family:'Sans-serif'. Arial;
color:#000000;
margin-left:22%;
}
#BekhalLink:hover {
text-decoration:underline;
}
#familytree {
font-size:32px;
font-family:'Sans-serif'. Arial;
color:#000000;
}
#plantationlink {
font-size:32px;
font-family:'Sans-serif'. Arial;
color:#000000;
}
table, th, td {
width: 800px;
}




